
a {
  display: block;
  background-color: #DDD;
  border: 1px solid #CCC;
  font-size: 30pt;
  text-align: center;

  height: 100vw;
  width: 100vw;
}
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}